<!-- If 4 or less images -->
<div class="event-container"
  [ngClass]="{'visible': this.loaded}">
  <img *ngFor="let image of this.imagesList; let i = index;" #image
    [src]="'assets/img/' + this.event.folder + '/' + image"
    alt=""
    (load)="onLoad($event)"
    (click)="openImage(i)" />

  <div *ngIf="this.event.images.length > this.maxImages"
    class="event-plus-button"
    [style.height]="this.plusButtonHeight + 'px'"
    [style.background-image]="'url(assets/img/' + this.event.folder + '/' + this.event.images[this.maxImages] + ')'"
    (click)="openImage(this.maxImages)">
    <i class="fas fa-plus"></i>
  </div>
</div>

<div class="event-info"
  [ngClass]="{'visible': this.loaded}">
  <div class="event-name">{{ this.event.name }}</div>
  <div class="event-date">{{ this.event.formattedDate }}</div>
</div>
