// out: false

// Attributes & functions

@import 'global/const.less';
@import 'global/functions.less';
@import 'global/animations.less';

// Global

html, body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  app-events-list {
    position: relative;
    width: 300px;
    height: 100vh;
    display: flex;
    align-items: center;

    .list-container {
      position: fixed;
      display: flex;
      flex-direction: column;
      padding: 25px;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: right;
        z-index: 100;
  
        li {
          .category-name,
          .event-name {
            padding: 7px 10px 7px 15px;
            font-size: 18px;
          }
          .category-name {
            color: #A0A0A0;
            padding-right: 50px;
          }
          .event-name {
            display: inline-flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            background-color: transparent;
            border-radius: 30px;
            cursor: pointer;
            .transition();
            
            .event-name-text {
              color: #202020;
              .transition();
            }
            .event-name-cursor {
              margin-left: 30px;
              display: inline-block;
              width: 11px;
              height: 11px;
              background-color: white;
              border: 2px solid #A0A0A0;
              border-radius: 10px;
              .transition();
            }
          }
          .event-name:not(.active):hover {
            .event-name-text {
              color: @highlight-color;
              transform: scale(1.1);
            }
            .event-name-cursor {
              border-color: @highlight-color;
            }
          }
          .event-name.active {
            background-color: @selected-background-color;

            .event-name-text {
              color: @selected-color;
            }
            .event-name-cursor {
              background-color: @selected-color;
              border-color: @selected-color;
            }
          }
        }
      }
  
      .line {
        position: absolute;
        width: 0;
        height: calc(100% - 120px);
        top: 80px;
        right: 42px;
        border-left: 1px solid #A0A0A0;
        z-index: 10;
      }
    }
  }
  .events {
    app-event {
      display: block;
      width: 600px;

      .event-container {
        padding: 50px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .transition(@slow-time);

        img:first-child {
          width: 100%;
          margin-bottom: 5px;
        }
      }
      .event-container:not(.visible) {
        opacity: 0;
      }
    }   
  }
}